.header_main_section{
    max-width: 100%;
    display: flex;
    background-color:darkgreen;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
}
.nav_links{
    display: flex;
    text-align: center;
    gap: 20px;
    padding-left: 20px;
    margin-left: 40px;
    
    }
.nav_links a{
    text-decoration: none;
    color: white;

}

